[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CIPerm"]
	path = CIPerm
	url = https://github.com/colbystatsvyrsch/ciperm
[submodule "surveyCV"]
	path = surveyCV
	url = https://github.com/colbystatsvyrsch/surveycv
